<section class="page-main section-padding">
  <div class="page-width page-width--narrow">
    <h1 class="page-main__title">{{ page.title }}</h1>
    <div class="page-main__content rte">{{ page.content }}</div>
  </div>
</section>
{% schema %}{"name":"Page","presets":[{"name":"Page"}]}{% endschema %}
