<div class="promo-tab">
  <a href="{{ settings.promo_tab_link | default: routes.collections_url }}" class="promo-tab__link">
    <span>{{ settings.promo_tab_text | default: 'GET 20% OFF' }}</span>
  </a>
</div>
